<div class="panel panel-info col-lg-4 detail-panel">
	<div class="panel-heading">
		<h3>Nuevo procedimiento</h3>
	</div>
	<div class="panel-body">
		<div class="form-group">
			<label for="exampleInputEmail1">Nombre </label>
			{{input id="exampleInputEmail1" class="form-control" value=newName action="createProceeding"}}
		</div>
		
	</div>
</div>