
<div id="main-panel" class="panel panel-info col-lg-4 tabbed-panel list-panel">
	<div class="panel-heading">
		<ul class="nav nav-tabs">
			<li>
				{{#link-to 'proceedings'}} Procedimientos {{/link-to}}
			</li>
			<li>
				 <a> Transiciones </a>
			</li>
		</ul>
	</div>
	<div class="panel-body">
		{{outlet main-panel-body}}
	</div>
</div>

{{outlet secondary-panel}}
