<div class="form-group">
	<div class="form-control-wrapper">
		<input type="text" class="form-control empty" placeholder="Buscar...">
		<span class="material-input"></span>
	</div>
</div>
<ul class="list-group">
	{{#each proceeding in controller}}
	    
	    {{#link-to "proceeding.edit" proceeding tagName="li" class="list-group-item"}}
			{{proceeding.name}}
			<span class="label label-default pull-right">3.1.1</span>
		{{/link-to}}

	{{/each}}
</ul>
{{#link-to "proceedings.new" tagName="button" class="btn btn-info btn-raised md-btn md-btn-rounded new-btn"}}
	<i class="mdi-content-add"></i>
{{/link-to}}
